[package]
name = "pixi-pack"
description = "A command line tool to pack and unpack conda environments for easy sharing"
version = "0.7.5"
edition = "2024"

# See https://doc.rust-lang.org/cargo/reference/profiles.html
[profile.release]
codegen-units = 1
lto = true
strip = true
opt-level = "z"

[features]
default = ["native-tls"]
native-tls = [
  "reqwest/native-tls",
  "reqwest/native-tls-alpn",
  "rattler/native-tls",
  "rattler_networking/rustls-tls",
  "rattler_package_streaming/rustls-tls",
]
rustls-tls = [
  "reqwest/rustls-tls",
  "reqwest/rustls-tls-native-roots",
  "rattler/rustls-tls",
  "rattler_networking/rustls-tls",
  "rattler_package_streaming/rustls-tls",
]

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.48", features = ["derive", "string"] }
clap_complete = "4.5.58"
clap-verbosity-flag = { version = "3.0.4", features = ["tracing"] }
futures = "0.3.31"
indicatif = "0.18.0"
rattler = { git = "https://github.com/tdejager/rattler", branch = "feat/move-to-uv-crates", default-features = false }
rattler_config = { git = "https://github.com/tdejager/rattler", branch = "feat/move-to-uv-crates" }
rattler_digest = { git = "https://github.com/tdejager/rattler", branch = "feat/move-to-uv-crates" }
rattler_conda_types = { git = "https://github.com/tdejager/rattler", branch = "feat/move-to-uv-crates" }
rattler_index = { git = "https://github.com/tdejager/rattler", branch = "feat/move-to-uv-crates" }
rattler_lock = { git = "https://github.com/tdejager/rattler", branch = "feat/move-to-uv-crates" }
rattler_networking = { git = "https://github.com/tdejager/rattler", branch = "feat/move-to-uv-crates", default-features = false, features = [
  "s3",
  "rattler_config",
] }
rattler_package_streaming = { git = "https://github.com/tdejager/rattler", branch = "feat/move-to-uv-crates", default-features = false }
rattler_shell = "0.25.0"
reqwest = { version = "0.12.23", default-features = false, features = [
  "http2",
  "macos-system-configuration",
] }
reqwest-middleware = "0.4.2"
serde = { version = "1.0.226", features = ["derive"] }
serde_json = "1.0.145"
serde_yaml = "0.9.34" # todo: use a non-deprecated crate
tokio = { version = "1.47.1", features = ["rt-multi-thread"] }
tokio-stream = { version = "0.1.17", features = ["fs"] }
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.20", features = [
  "default",
  "env-filter",
] }
url = "2.5.7"
tempfile = "3.23.0"
walkdir = "2.5.0"
tar = "0.4.44"
base64 = "0.22.1"
indexmap = "2.12.1"
ahash = "0.8.12"
uv-build-frontend = "0.0.1"
uv-cache = "0.0.1"
uv-cache-info = "0.0.1"
uv-client = "0.0.1"
uv-configuration = "0.0.1"
uv-dispatch = "0.0.1"
uv-distribution = "0.0.1"
uv-distribution-filename = "0.0.1"
uv-distribution-types = "0.0.1"
uv-git = "0.0.1"
uv-install-wheel = "0.0.1"
uv-installer = "0.0.1"
uv-pep508 = "0.0.1"
uv-preview = "0.0.1"
uv-python = "0.0.1"
uv-types = "0.0.1"
uv-workspace = "0.0.1"

[dev-dependencies]
async-std = "1.13.2"
rstest = "0.26.1"
sha2 = "0.10.9"
insta = "1.43.2"
serial_test = "3.2.0"

[patch.crates-io]
rattler = { git = "https://github.com/tdejager/rattler", branch = "feat/move-to-uv-crates" }
rattler_config = { git = "https://github.com/tdejager/rattler", branch = "feat/move-to-uv-crates" }
rattler_digest = { git = "https://github.com/tdejager/rattler", branch = "feat/move-to-uv-crates" }
rattler_conda_types = { git = "https://github.com/tdejager/rattler", branch = "feat/move-to-uv-crates" }
rattler_index = { git = "https://github.com/tdejager/rattler", branch = "feat/move-to-uv-crates" }
rattler_lock = { git = "https://github.com/tdejager/rattler", branch = "feat/move-to-uv-crates" }
rattler_networking = { git = "https://github.com/tdejager/rattler", branch = "feat/move-to-uv-crates" }
rattler_package_streaming = { git = "https://github.com/tdejager/rattler", branch = "feat/move-to-uv-crates" }
rattler_shell = { git = "https://github.com/tdejager/rattler", branch = "feat/move-to-uv-crates" }
