[package]
name = "pixi-pack"
description = "A command line tool to pack and unpack conda environments for easy sharing"
version = "0.7.5"
edition = "2024"

# See https://doc.rust-lang.org/cargo/reference/profiles.html
[profile.release]
codegen-units = 1
lto = true
strip = true
opt-level = "z"

[features]
default = ["native-tls"]
native-tls = [
  "reqwest/native-tls",
  "reqwest/native-tls-alpn",
  "rattler/native-tls",
  "rattler_networking/rustls-tls",
  "rattler_package_streaming/rustls-tls",
]
rustls-tls = [
  "reqwest/rustls-tls",
  "reqwest/rustls-tls-native-roots",
  "rattler/rustls-tls",
  "rattler_networking/rustls-tls",
  "rattler_package_streaming/rustls-tls",
]

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.48", features = ["derive", "string"] }
clap_complete = "4.5.58"
clap-verbosity-flag = { version = "3.0.4", features = ["tracing"] }
futures = "0.3.31"
indicatif = "0.18.0"
rattler = { version = "0.37.4", default-features = false }
rattler_config = "0.2.9"
rattler_digest = "1.1.5"
rattler_conda_types = "0.39.2"
rattler_index = "0.25.2"
rattler_lock = "0.24.1"
rattler_networking = { version = "0.25.13", default-features = false, features = [
  "s3",
  "rattler_config",
] }
rattler_package_streaming = { version = "0.23.4", default-features = false }
rattler_shell = "0.25.0"
reqwest = { version = "0.12.23", default-features = false, features = [
  "http2",
  "macos-system-configuration",
] }
reqwest-middleware = "0.4.2"
serde = { version = "1.0.226", features = ["derive"] }
serde_json = "1.0.145"
serde_yaml = "0.9.34" # todo: use a non-deprecated crate
tokio = { version = "1.47.1", features = ["rt-multi-thread"] }
tokio-stream = { version = "0.1.17", features = ["fs"] }
toml = "0.9.8"
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.20", features = [
  "default",
  "env-filter",
] }
url = "2.5.7"
fxhash = "0.2.1"
tempfile = "3.23.0"
walkdir = "2.5.0"
tar = "0.4.44"
base64 = "0.22.1"
# TODO: use https://crates.io/crates/uv once available
uv-build-frontend = { git = "https://github.com/astral-sh/uv", tag = "0.8.22" }
uv-cache = { git = "https://github.com/astral-sh/uv", tag = "0.8.22" }
uv-cache-info = { git = "https://github.com/astral-sh/uv", tag = "0.8.22" }
uv-client = { git = "https://github.com/astral-sh/uv", tag = "0.8.22" }
uv-configuration = { git = "https://github.com/astral-sh/uv", tag = "0.8.22" }
uv-dispatch = { git = "https://github.com/astral-sh/uv", tag = "0.8.22" }
uv-distribution = { git = "https://github.com/astral-sh/uv", tag = "0.8.22" }
uv-distribution-filename = { git = "https://github.com/astral-sh/uv", tag = "0.8.22" }
uv-distribution-types = { git = "https://github.com/astral-sh/uv", tag = "0.8.22" }
uv-git = { git = "https://github.com/astral-sh/uv", tag = "0.8.22" }
uv-install-wheel = { git = "https://github.com/astral-sh/uv", tag = "0.8.22" }
uv-installer = { git = "https://github.com/astral-sh/uv", tag = "0.8.22" }
uv-pep508 = { git = "https://github.com/astral-sh/uv", tag = "0.8.22" }
uv-preview = { git = "https://github.com/astral-sh/uv", tag = "0.8.22" }
uv-python = { git = "https://github.com/astral-sh/uv", tag = "0.8.22" }
uv-types = { git = "https://github.com/astral-sh/uv", tag = "0.8.22" }
uv-workspace = { git = "https://github.com/astral-sh/uv", tag = "0.8.22" }

[dev-dependencies]
async-std = "1.13.2"
rstest = "0.26.1"
sha2 = "0.10.9"
insta = "1.43.2"
serial_test = "3.2.0"

[patch.crates-io]
# This is a temporary patch to get `cargo vendor` to work with the `uv` and `pep508_rs` crates.
version-ranges = { git = "https://github.com/astral-sh/pubgrub", rev = "d8efd77673c9a90792da9da31b6c0da7ea8a324b" }
reqwest-middleware = { git = "https://github.com/astral-sh/reqwest-middleware", rev = "7650ed76215a962a96d94a79be71c27bffde7ab2" }
